.dds-margin-of-error {
  color: $color-gray;
  font-size: 1.5rem;
  font-weight: normal;
}

.dds-stat {
  color: $color-gray-dark;

  &:not(:first-child) {
    font-size: 1.5rem;
    margin: 1rem 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dds-stat-change-negative {
  color: $color-secondary;
}


.dds-stat-change-positive {
  color: $color-green-light;
}

.dds-stat-figure {
  font-weight: bold;
}

.dds-stat-heading {
  color: $color-gray;
  font-size: 1.65rem;
  margin-top: 0.5rem;
}

.dds-stat-large {

  .dds-stat-figure {
    font-size: 4rem;
  }
} 

.dds-stat-small {
  
  .dds-stat-figure {
    font-size: 3.25rem;
  }
}

.dds-stat-source {
  color: $color-gray-dark;
  font-size: 1.25rem;
  margin-top: 2rem;

  a {
    text-decoration: none;
  }
}