.site-header-navbar {
  background-color: $color-primary-darkest;

  @include media($nav-width) {
    display: block;
    height: 6rem;
  }

  .usa-logo {
    
    @include media($nav-width) {
      margin-left: 3rem;
    }

    a {
      color: $color-white;
    }
  }

  .usa-logo-text {
    @include media($nav-width) {
      line-height: 6rem;
    }
  }
}

.usa-header {
  @include media($nav-width) {
    border-bottom: none;
  }
}

.site-nav-secondary {
  display: none;

  @include media($nav-width) {
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-light;
    clear: both;
    display: block;
    height: $height-nav-secondary;
    padding-left: 3rem;
    z-index: 15;
  }

  ul {
    @include unstyled-list;

    li {
      display: inline;
      padding-right: 3rem;
    }
  }

  a {
    color: $color-gray;
    font-size: $h5-font-size;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: $height-nav-secondary;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }

    &.usa-current {
      color: $color-primary;
    }
  }
}