<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    <title>Cards</title>
<meta name="viewport" content="width=device-width">




<link rel="stylesheet" href="../../assets/stylesheets/application.css">

<meta name="robots" content="noindex">
  </head>

  <body class="page-cards layout-styleguide">

  	<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header site-header" role="banner">
  <!-- Gov banner BEGIN -->
<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
      <img src="/assets/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here’s how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/assets/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gov banner END -->
  <div class="usa-navbar site-header-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo-text">
        <a href="/" title="Home" aria-label="Home">
          Data Design Standards
        </a>
      </em>
    </div>
  </div>
</header>  
<nav class="site-nav-secondary sticky">
  <ul>
    
  
  <li>
    
      
<a href="/components/" class="usa-current">UI components</a>

  

    
  </li>

  </ul>
</nav>
<div class="usa-overlay"></div>

    <aside class="sidenav sticky">
  
  
    <ul class="usa-sidenav-list">
      
  
  <li>
    
      
<a href="/components/">Overview</a>

    
  </li>

  
  <li>
    
      
<a href="/components/cards/" class="usa-current">Cards</a>

  
    
    
    
    
    
    <ul class="usa-sidenav-sub_list">
  
  <li>
    
      


<a href="#small-cards">Small Cards</a>
    
  </li>

  
  <li>
    
      


<a href="#large-cards">Large Cards</a>
    
  </li>
</ul>
    
  

    
  </li>

  
  <li>
    
      
<a href="/components/charts/">Charts</a>

    
  </li>

  
  <li>
    
      
<a href="/components/stats/">Stats</a>

    
  </li>

  
  <li>
    
      
<a href="/components/tables/">Tables</a>

    
  </li>

    </ul>
  
</aside>

<main class="main-content" id="main-content">
  <div class="styleguide-content usa-content">
    <header>
      
        
      <p class="site-subheading">UI components</p>
        
      
      <h1 id="cards">Cards</h1>
    </header>

    
<p class="usa-font-lead">Cards can be used to combine various components of the Data Design Standards.</p>



    
<section id="01-small-cards">
    <h2 class="usa-heading heading-margin-alt" id="small-cards">Small Cards</h2>
    
    <p>
  Small cards are useful tools for highlighting key datapoints of a given
  dataset. Because of their size, the amount of information that can be
  presented in a small card is limited. Small cards should appear in
  groups of no more than three to prevent information fatigue.
</p>
<div class="card-examples">
  <div class="dds-card usa-width-one-third">
    <div class="dds-card-content">
      <div class="dds-card-title">
        Population
      </div>
      <div class="dds-stat dds-stat-small">
        <div class="dds-stat-figure">
          8,091,275
        </div>
        <div class="dds-stat-heading">
          Population Estimate
        </div>
      </div>

      <div class="dds-stat-source">
        Source: <a href="#">2015 American Community Survey 1-Year</a>
      </div>
    </div>
  </div>

  <div class="dds-card usa-width-one-third">
    <div class="dds-card-content">
      <div class="dds-card-title">
        Web Traffic
      </div>
      <div class="dds-stat dds-stat-small">
        <div class="dds-stat-figure">
          1.5M Visitors
        </div>
      </div>
      <div class="dds-area-chart dds-area-chart-minimal" id="dds-area-chart-minimal">
      </div>
    </div>
    <div class="dds-card-actions">
      <a href="">Learn More</a>
    </div>
  </div>
</div>

  </section>

<section id="02-large-cards">
    <h2 class="usa-heading heading-margin-alt" id="large-cards">Large Cards</h2>
    
    <p>
  Large cards are the primary method for presenting data visualizations to
  Users. Large cards enable multiple components to be combined together to tell
  a more compelling story about the presented data.
</p>
<div class="card-examples">
  <div class="dds-card">
    <div class="dds-card-content">
      <div class="usa-width-one-third">
        <div class="dds-card-title">
          Health
        </div>
        <div class="dds-stat dds-stat-large">
          <div class="dds-stat-figure">
            9.1%
            <span class="dds-margin-of-error">
              +/- 5.0%
            </span>
          </div>
          <div class="dds-stat-heading">
            Uninsured, under age 65
          </div>
        </div>
        <div class="dds-stat">
          <span class="dds-stat-figure">9.9%</span>
          Uninsured, under age 65 in the
          <a href="#">United States</a>
        </div>
        <div class="dds-stat-source">
          Source: <a href="#">2015 American Community Survey 1-Year</a>
        </div>
      </div>
      <div class="usa-width-two-thirds">
        <h4 class="dds-graph-title">Uninsured Rate in Virginia, 2008-2015</h4>
        <div class="dds-chart dds-line-graph" id="dds-line-graph"></div>
      </div>
    </div>
    <div class="dds-card-actions">
      <ul class="usa-unstyled-list">
        <li><a href="">Export</a></li>
        <li><a href="">Share</a></li>
        <li><a href="">Customize Chart</a></li>
      </ul>
    </div>
  </div>
</div>

  </section>

  </div>
</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="/assets/javascripts/application.js"></script>

  </body>

</html>