<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    <title>Stats</title>
<meta name="viewport" content="width=device-width">




<link rel="stylesheet" href="../../assets/stylesheets/application.css">

<meta name="robots" content="noindex">
  </head>

  <body class="page-stats layout-styleguide">

  	<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header site-header" role="banner">
  <!-- Gov banner BEGIN -->
<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
      <img src="/assets/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here’s how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="/assets/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gov banner END -->
  <div class="usa-navbar site-header-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo-text">
        <a href="/" title="Home" aria-label="Home">
          Data Design Standards
        </a>
      </em>
    </div>
  </div>
</header>  
<nav class="site-nav-secondary sticky">
  <ul>
    
  
  <li>
    
      
<a href="/components/" class="usa-current">UI components</a>

  

    
  </li>

  </ul>
</nav>
<div class="usa-overlay"></div>

    <aside class="sidenav sticky">
  
  
    <ul class="usa-sidenav-list">
      
  
  <li>
    
      
<a href="/components/">Overview</a>

    
  </li>

  
  <li>
    
      
<a href="/components/cards/">Cards</a>

    
  </li>

  
  <li>
    
      
<a href="/components/charts/">Charts</a>

    
  </li>

  
  <li>
    
      
<a href="/components/stats/" class="usa-current">Stats</a>

  
    
    
    
    
    
  

    
  </li>

  
  <li>
    
      
<a href="/components/tables/">Tables</a>

    
  </li>

    </ul>
  
</aside>

<main class="main-content" id="main-content">
  <div class="styleguide-content usa-content">
    <header>
      
        
      <p class="site-subheading">UI components</p>
        
      
      <h1 id="stats">Stats</h1>
    </header>

    
<p class="usa-font-lead">Use Stats to highlight key data points from a dataset.</p>



    <div class="card-examples">
  <div class="dds-card usa-width-one-third">
    <div class="dds-card-content">
      <div class="dds-stat dds-stat-small">
        <div class="dds-card-title">
          Population - USA
        </div>
        <div class="dds-stat-figure">
          8,091,275
        </div>
        <div class="dds-stat-heading">
          Population Estimate
        </div>
        <div class="dds-stat-source">
          Source: <a href="#">2015 American Community Survey 1-Year</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-examples">
  <div class="dds-card usa-width-one-half">
    <div class="dds-card-content">
      <div class="dds-stat dds-stat-large">
        <div class="dds-card-title">
          2015 Population Estimate - USA
        </div>
        <div class="dds-stat-figure">
          8,091,275
        </div>
        <div class="dds-stat-heading">
          <span class="dds-stat-change-positive">+12.3%</span> increase since 2014
        </div>
        <div class="dds-stat-source">
          Source: <a href="#">2015 American Community Survey 1-Year</a>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="/assets/javascripts/application.js"></script>

  </body>

</html>